.inizio {
  background-color: #222f3f;
}
.inizio img {
  width: 100px;
  margin: 5px;
}
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #e9edee;
}
.fine a {
  color: #e5edee;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5px;
}
.fine {
  background-color: #364759;
  padding: 8px;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
.gift {
  background-color: #f36600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px;
}
.gift a {
  text-decoration: none;
  color: #e5edee;
  font-size: 0.9em;
}
.holiday {
  background-image: url(./assets/bg-image.png);
  height: 210px;
  background-size: contain;
  background-position-y: top;
}
.holiday h2 {
  text-align: center;
  padding-top: 80px;
  color: #edf1f4;
  font-size: 2rem;
}
.holiday p {
  text-align: center;
  color: #edf1f4;
  font-weight: bold;
}
.brizio {
  background-color: #ffffff;
  margin-top: 30px;
}
.brizio img {
  height: 400px;
  width: 330px;
  border-radius: 5%;
  margin-left: 20px;
  margin-bottom: 10px;
  display: inline-block;
  box-shadow: 6px 4px 4px #e2e5ea;
}
.brizio a {
  text-decoration: none;
  color: #185b62;
  font-weight: bold;
}
.brizio p {
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}
.proscia img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 20px;
}
.mesk {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
.roxy {
  text-decoration: none;
  color: #185b62;
  font-weight: bold;
}
.picchio {
  padding: 8px;
  background-color: #364759;
  text-align: center;
  margin-top: 30px;
}
.picchio a {
  color: #e5edee;
  font-size: 0.9em;
}
.ultimo {
  background-color: #222f3f;
  text-align: center;
}
.ultimo img {
  width: 150px;
  margin: 50px;
}
